:root {
  --color-scheme-text: var(--white);
  --color-scheme-1-bg: #3498db;
  --color-scheme-2-bg: #2ecc71;
  --color-scheme-3-bg: #9b59b6;
  --color-scheme-4-bg: #3470ac;
  --color-scheme-5-bg: #e84393;
  --color-scheme-6-bg: #1abc9c;
  --color-scheme-7-bg: #e67e22;
  --color-scheme-8-bg: #2980b9;
  --color-scheme-9-bg: #fd79a8;
  --color-scheme-10-bg: #95a5a6;
  --color-scheme-11-bg: #dc3545;
  --color-scheme-12-bg: #0d6efd;
  --color-scheme-13-bg: #198754;
  --color-scheme-14-bg: #6f42c1;
  --color-scheme-15-bg: #fd7e14;
  --color-scheme-16-bg: #20c997;
  --color-scheme-17-bg: #0dcaf0;
  --color-scheme-18-bg: #8044e1;
  --color-scheme-19-bg: #d63384;
  --color-scheme-20-bg: #5d92c6;
}
