.wl-panel {
  background: none !important;
}
.wl-panel:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--waline-border);
  border-radius: 0.75em;
  background: var(--waline-bg-color);
  opacity: 0.3;
  z-index: -1;
}
